body
{
  color: rgb(145, 79, 252);
  background: #ffdbf9;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(255, 0, 140);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(253, 37, 109);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
